body {
  margin: 0;
  padding: 0;
  font-family: Karla;
  font-size: 16px;
}

.container {
  width: 80%;
  margin: 80px auto;
}

a {
  text-decoration: none;
}

.main-header {
  color: hsl(179, 62%, 43%);
}

.secondary-header {
  color: hsl(71, 73%, 54%);
}

.paragraph {
  color: hsl(218, 22%, 67%);
  width: 80%;
  line-height: 27px;
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-container {
  width: 60%;
  margin: 50px auto;
}

/* Left side of the grid */

.left-side {
  background-color: hsl(179, 62%, 43%);
}

.grid-headers {
  color: hsl(204, 43%, 93%);
  font-size: 1.7em;
}

span {
  font-size: 1.8em;
}

.pricing {
  color: hsl(204, 43%, 93%);
  font-weight: 400;
}

.grid-paragraph-left {
  color: hsl(204, 43%, 93%);
  margin-bottom: 50px;
}

.main-btn {
  color: hsl(204, 43%, 93%);
  font-size: 20px;
  background-color: hsl(71, 73%, 54%);
  margin: 50px 0px;
  padding: 20px 150px;
  border-radius: 10px;
}

/* Right side of the grid */

.right-side {
  background-color: hsl(179, 62%, 50%);
}

.grid-paragraph-right {
  color: hsl(204, 43%, 93%);
  opacity: 80%;
}

/* Media Queries */

@media only screen and (max-width: 1270px) {
  .main-btn {
    padding: 20px 100px;
  }
}

@media only screen and (max-width: 940px) {
  .main-btn {
    padding: 15px 80px;
  }
}

@media only screen and (max-width: 810px) {
  .main-grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
  }

  .main-btn {
    padding: 15px 150px;
  }

  .grid-container {
    width: 80%;
    margin: 50px auto;
  }
}
